.footer-info {
  --region-space: 5.75rem 4rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media screen(sm) {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: end;
    align-items: center;
  }
}
